@model MeetingDetailViewModel

@{
    ViewData["Title"] = "Details";
}




<div class="bg-red-500">
    @* TODO: Replace after image service *@
    <div class="w-full bg-cover bg-no-repeat bg-center" style="height: 400px; background-image: url(@Model.SandlerMovie.PosterUrl);">
    </div>
    <div class="p-4">
        <div class="relative flex w-full">
            <!-- Starring Actor/Actors -->
            <div class="flex flex-1">
                <div style="margin-top: -4rem;" class="flex -space-x-2">
                    @foreach (var starringActor in Model.StarringActors)
                    {
                        // TODO: Link to Actor Page
                        <a href="#" class="hover:scale-150 hover:z-10 transform ease-in-out transition duration-500">
                            <img class="inline-block h-20 w-20 rounded-full object-cover ring-2 ring-blue-300" src="@starringActor.ImageUrl" alt="@starringActor.FullName profile image" />
                            <p class="absolute transform -translate-y-10 font-bold text-white text-opacity-75">@starringActor.FullName</p>
                        </a>
                    }
                </div>
            </div>
            <div class="flex flex-col text-right">
                <a asp-action="Edit" asp-route-id="@Model.SandlerMovie.Id" class="justify-center max-h-max max-w-max border-b-2 bg-indigo-50 border-blue-300 text-blue-500 hover:border-blue-500  flex items-center hover:shadow-lg transform hover:-translate-y-1 hover:scale-105 font-bold py-2 px-4 rounded mr-0 ml-auto">Edit Movie</a>
            </div>
        </div>

        <div class="space-y-1 justify-center w-full mt-3 ml-3">
            <div>
                <h2 class="text-6xl leading-6 font-bold text-white font-serif">@Model.SandlerMovie.Title</h2>
                <span class="flex text-2xl mr-2 mt-10">
                    <!-- Todo Replace with Icon Set Calander  -->
                    <svg viewBox="0 0 24 24" class="h-5 w-5 paint-icon">
                        <g>
                            <path d="M19.708 2H4.292C3.028 2 2 3.028 2 4.292v15.416C2 20.972 3.028 22 4.292 22h15.416C20.972 22 22 20.972 22 19.708V4.292C22 3.028 20.972 2 19.708 2zm.792 17.708c0 .437-.355.792-.792.792H4.292c-.437 0-.792-.355-.792-.792V6.418c0-.437.354-.79.79-.792h15.42c.436 0 .79.355.79.79V19.71z"></path>
                            <circle cx="7.032" cy="8.75" r="1.285"></circle>
                            <circle cx="7.032" cy="13.156" r="1.285"></circle>
                            <circle cx="16.968" cy="8.75" r="1.285"></circle>
                            <circle cx="16.968" cy="13.156" r="1.285"></circle>
                            <circle cx="12" cy="8.75" r="1.285"></circle>
                            <circle cx="12" cy="13.156" r="1.285"></circle>
                            <circle cx="7.032" cy="17.486" r="1.285"></circle>
                            <circle cx="12" cy="17.486" r="1.285"></circle>
                        </g>
                    </svg>
                    <span class="leading-5 ml-1">Released @Model.SandlerMovie.DateFormatted</span>
                </span>
            </div>
            <div class="pt-2 text-white">
                <span class="text-2xl underline font-bold font-mono">Synopsis:</span><span class="font-semibold">@Model.SandlerMovie.Synonpsis</span>
            </div>
        </div>
    </div>
</div>
<hr class="border-4 border-gray-400" />
