@model MeetingDetailViewModel
@inject UserManager<ClubMember> userManager

@{
    ViewData["Title"] = "Details";
}

<div class="flex flex-col flex-grow border-l border-r border-gray-300 mt-2">
    <div class="flex flex-col md:flex-row max-h-full bg-red-500 border-b border-gray-500">
        <div class="flex-1 max-h-full md:border-r-2">
            <div class="flex-1 max-h-full md:border-r-2">
                <img src="@Model.SandlerMovie.PosterUrl" class="max-h-full h-96 object-contain mx-auto" />
            </div>
            <div class="p-4">
                <div class="relative flex w-full">
                    <!-- Starring Actor/Actors -->
                    <div class="flex flex-1">
                        <div style="margin-top: -4rem;" class="flex -space-x-2">
                            @foreach (var starringActor in Model.StarringActors)
                            {
                                // TODO: Link to Actor Page
                                <a asp-controller="Actors" asp-action="Details" asp-route-id="@starringActor.Id" class="hover:scale-150 hover:z-10 transform ease-in-out transition duration-500">
                                    <img class="inline-block h-20 w-20 rounded-full object-cover ring-2 ring-blue-300" src="@starringActor.ImageUrl" alt="@starringActor.FullName profile image" />
                                    <p class="absolute transform -translate-y-10 font-bold text-white text-opacity-75">@starringActor.FullName</p>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-1 px-8 self-center mt-6 md:mt-0">
            <span class="block text-4xl">Meeting for @Model.Meeting.DateFormatted</span>
            <div class="space-y-1 justify-center w-full mt-3">

                <a asp-controller="SandlerMovies" asp-action="Details" asp-route-id="@Model.SandlerMovie.Id" class="text-6xl font-bold text-white font-serif">@Model.SandlerMovie.Title</a>
                <span class="flex text-2xl mr-2 mt-10">
                    <!-- Todo Replace with Icon Set Calander  -->
                    <svg viewBox="0 0 24 24" class="h-5 w-5 paint-icon">
                        <g>
                            <path d="M19.708 2H4.292C3.028 2 2 3.028 2 4.292v15.416C2 20.972 3.028 22 4.292 22h15.416C20.972 22 22 20.972 22 19.708V4.292C22 3.028 20.972 2 19.708 2zm.792 17.708c0 .437-.355.792-.792.792H4.292c-.437 0-.792-.355-.792-.792V6.418c0-.437.354-.79.79-.792h15.42c.436 0 .79.355.79.79V19.71z"></path>
                            <circle cx="7.032" cy="8.75" r="1.285"></circle>
                            <circle cx="7.032" cy="13.156" r="1.285"></circle>
                            <circle cx="16.968" cy="8.75" r="1.285"></circle>
                            <circle cx="16.968" cy="13.156" r="1.285"></circle>
                            <circle cx="12" cy="8.75" r="1.285"></circle>
                            <circle cx="12" cy="13.156" r="1.285"></circle>
                            <circle cx="7.032" cy="17.486" r="1.285"></circle>
                            <circle cx="12" cy="17.486" r="1.285"></circle>
                        </g>
                    </svg>
                    <span class="leading-5 ml-1">Released @Model.SandlerMovie.DateFormatted</span>
                </span>
            </div>
            <div class="pt-2 text-white">
                <span class="text-2xl underline font-bold font-mono">Synopsis:</span><span class="font-semibold">@Model.SandlerMovie.Synonpsis</span>
            </div>
        </div>
    </div>
</div>

@if (Model.MeetingAttendance.Where(ma => ma.Id == userManager.GetUserId(User)).FirstOrDefault() == null)
{
<form asp-controller="Meetings" asp-action="MarkAttended" asp-route-id="@Model.Meeting.Id">
    <div class="p-2 mx-auto w-full min-w-full">
        <button type="submit" class="border-2 p-2 w-full text-xl border-gray-500 bg-gray-50 text-black font-roboto hover:text-white hover:bg-gray-900 hover:no-underline">
            Mark Attended
        </button>
    </div>
</form>
}

<div class="w-3\/5 max-w-screen md:mx-8 mt-2">
    <table class=" w-full max-w-screen shadow-lg divide-y divid-y-gray-800 border-b-4 border-gray-200">
        <thead>
            <tr class="text-xs font-medium text-gray-700 uppercase font-roboto ">
                <th class="text-left pl-2 py-3">
                    Date
                </th>
                <th class="text-left whitespace-nowrap pr-2  py-3">
                    Sandler Movie Rating
                </th>
                <th class="text-left py-3">

                </th>
            </tr>
        </thead>
        <tbody class="text-sm font-medium text-gray-500">
            @foreach (var item in Model.MeetingAttendance)
            {
                var rating = Model.AttendanceMovieRatings.Where(amr => amr.ClubMemberId == item.Id).FirstOrDefault();
                <tr>
                    <td class="group h-full">
                        <form asp-controller="ClubMembers" asp-action="Details" asp-route-id="@item.Id">
                            <button type="submit" class="py-auto font-medium text-gray-500 bg-white group-hover:text-blue-600 hover:no-underline w-48 h-8">
                                @item.FirstName
                            </button>
                        </form>
                    </td>
                    @if (rating != null)
                    {
                        <td class="text-sm font-medium text-gray-500 overflow-hidden hidden lg:block">
                            @rating.Rating pudding cups
                        </td>
                    }
                    else
                    {
                        <td class="text-sm font-medium text-gray-500 overflow-hidden hidden lg:block">
                            Not Yet Rated
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>



@*<div class="flex flex-col flex-grow border-l border-r border-gray-300">
        <div class="flex flex-col md:flex-row max-h-full bg-red-500 border-b border-gray-500">
            <div class="flex-1 md:border-r-2">
                <img src="@Model.Meeting.MeetingMovie.PosterUrl" class="object-scale-down max-h-96 mx-auto" />
            </div>
            <div class="flex-1 px-8 self-center mt-6 md:mt-0">
                <span class="block text-5xl">Meeting for @Model.Meeting.DateFormatted</span>
                <h3 class="text-3xl mt-2">Join us this Week for</h3>
                <span class="block uppercase font-bold text-3xl text-white mt-5 mb-6 md:mb-0">
                    <a asp-controller="SandlerMovies" asp-action="Details" asp-route-id="@Model.Meeting.MeetingMovie.Id">@Model.Meeting.MeetingMovie.Title</a>
                </span>
            </div>
        </div>

    </div>*@
